# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache
*.db
*.sqlite3

# 虛擬環境
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 上傳文件目錄
app/static/upload/*
!app/static/upload/.gitkeep

# 密鑰文件
*.key

# OS
.DS_Store
Thumbs.db